{% load static %}
<!doctype html>
<html lang="en" class="h-full bg-gray-100">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    {% block title %}{% endblock %} - 
    OPTamos
  </title>
  <link href="{% static "css/styles.css" %}?id=1111-0108" rel="stylesheet">
  <link class="favicon" rel="shortcut icon" sizes="126x126" href="/media/optamos/favicon.jpg">

  <meta property="og:title" content="Options for Participatory Transformation and Sustainability Management" />
  <meta property="og:description" content="OPTamos is an open access web-based software tool designed to support multi-criteria decision making in complex socio-ecological contexts." />
  <meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}/media/optamos/favicon.jpg" />
  <meta property="og:image:alt" content="OPTamos logo" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ request.scheme }}://{{ request.get_host }}{{ request.path }}" />
  <meta property="og:site_name" content="OPTamos" />

  <style type="text/css">
  .optamos-nav{background: #7c658f}
  .optamos-nav a{color:white}
  </style>

  {% block css %}{% endblock %}
</head>

<body class="h-full">
  <div class="min-h-full">

    {% include "main/_nav.html" %}

    <nav class="optamos-nav relative isolate z-10 shadow-sm drop-shadow-md">
      <div class="py-5">
        <div class="mx-auto max-w-7xl px-6 lg:px-8 z-10001 relative flex justify-between">
          <ul> 
            <li class="mr-3"> 
              <a class="font-bold nav-link text-white" aria-current="page" href="{% url "optamos:index" %}">
                <span {% if menu == "optamos_index" %}class="active"{% endif %}>
                OPTamos
                </span>
              </a>
            </li> 
            {% if request.user.is_authenticated %}
              <li class="mr-3"><a {% if menu == "optamos_projects" %}class="active"{% endif %} href="{% url "optamos:projects" %}">Projects</a></li>
              <li class="mr-3"><a {% if menu == "optamos_account" %}class="active"{% endif %} href="{% url "optamos:account" %}">My Account</a></li>
            {% endif %}
              <li class="mr-3"><a {% if menu == "optamos_about" %}class="active"{% endif %} href="{% url "optamos:about" %}">Methodology</a></li>
              <li class="mr-3"><a {% if menu == "optamos_resources" %}class="active"{% endif %} href="{% url "optamos:resources" %}">Resources</a></li>
              <li><a {% if menu == "optamos_manual" %}class="active"{% endif %} href="{% url "optamos:manual" %}">User manual</a></li>
          </ul>  
        </div> 
      </div> 
    </nav>

    <div class="bg" style="background-image:url(/media/optamos/{{ bg }})">
      <div class="overlay pb-32">
        <header class="py-10">
          <hgroup class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
            {% if project %}
              <div class="flex justify-between">
                <a href="{% url "optamos:project" project.uid %}" class="hover:underline text-3xl font-bold tracking-tight text-white text-shadow-md text-shadow-stone-700">
                  {{ project }}
                </a>
                <div>
                {% for tag in project.tag_list.all %}
                  <span class="mt-2 badge">{{ tag }}</span>
                {% endfor %}
                </div>
              </div>
              <h2 class="text-shadow-sm text-shadow-stone-700 text-white">
                {{ project.goal }}
              </h2>
            {% endif %}
          </hgroup>
        </header>
      </div>
    </div>

    <main class="-mt-32">
      <div class="mx-auto max-w-7xl px-4 pb-12 sm:px-6 lg:px-8">
        <div class="rounded-lg bg-white {% if not remove_padding_main_container %}px-5 py-10 sm:px-6{% endif %} shadow-sm relative">
          <div class="ml-10 mr-10">

            {% if messages %}
              <div class="top-message-box mt-5 mb-10">
                {% for message in messages %}
                  <div class="mt-5 alert {{ message.tags }}" role="alert">
                    {{ message|safe }}
                  </div>
                {% endfor %}
              </div>
            {% endif %}

            {% block content %}
            {% endblock %}

          </div>
        </div>
      </div>
    </main>

  </div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
{% block js %}

{% endblock %}

</body>

</html>
