Django>=6.0,<6.1
psycopg[binary]
Pillow
django-anymail[sendgrid]
feedparser
pyzotero
django-imagekit
python-dotenv

# For OPTamos
openpyxl

pyzotero
feedparser # Importing zotero items
django-stdimage

markdown
unidecode
bleach
python-dateutil
pandas
geopandas

yt-dlp
