{% load static %}

{% if DESIGN.show_footer_1 %}

  <footer id="involved">
    <div class="container pt-4 pb-4">
      <div class="row">
        <div class="{% if PROJECT.id == 16 %}col-lg-8 col-xl-9{% else %}col{% endif %}">
          <h2>This is an open source, community effort</h2>
          <h3>Join us now!</h3>

          <a style='display:none' class="btn btn-inverse mt-2 mr-3" href="/contributor/">
            <i class="fas fa-fw fa-user-plus"></i>
            Become a contributor
          </a>
          <a class="btn btn-inverse mt-2 mr-3" href="/hub/">
            <i class="fas fa-fw fa-fist-raised"></i>
            Community portal
          </a>
          {% if PROJECT.slug != "islands" %}
          <a class="btn btn-inverse mt-2 mr-3" href="/newsletter/">
            <i class="fas fa-fw fa-envelope"></i>
            Subscribe
          </a>

          <a class="btn btn-inverse-basic mt-2 mr-3" href="/hub/work/?status=1">
            <i class="fal fa-fw fa-tasks"></i>
            View open tasks
          </a>

          <div class="d-inline-block align-bottom {% if PROJECT.id != 16 %}float-lg-right{% endif %}">
            <div class="input-group translate-input mt-2 mr-3">
              <div class="input-group-prepend">
                <span class="input-group-text border-0">
                  <i class="fa fa-language"></i>
                </span>
              </div>
              <select id="translate" class="custom-select border-0">
                <option selected value="">Translate</option>
                <option value="es">Español</option>
                <option value="zh-CN">地球</option>
                <option value="hi">हिन्दी</option>
                <option value="bn">বাংলা</option>
                <option value="pt">Português</option>
                <option value="more">Other languages...</option>
              </select>
            </div>
          </div>
          {% endif %}

        </div>
      </div>
    </div>
  </footer>

{% endif %}

{% if DESIGN.show_footer_2 %}
  <footer id="sitemap">
    <div class="container">
      <h3 class="text-center font-weight-bold mb-4">
        Browse all Metabolism of Cities projects
      </h3>
      {% include "_project-menu.html" %}
    </div>
  </footer>
{% endif %}

{{ DESIGN.get_footer_4 }}

