{% extends "main/_base.html" %}

{% block content %}

<h1>
{% block title %}
  Publishers
{% endblock %}
</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Records</th>
    </tr>
  </thead>
  <tbody>
  {% for each in publishers %}
    <tr>
      <td class="font-mono text-slate-700">{{ each.uid }}</td>
      <td><a href="{% url "controlpanel_publisher" each.uid %}">{{ each }}</a></td>
      <td class="whitespace-nowrap">{{ each.publications.count }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}
