{% extends "main/_base.html" %}

{% block content %}

<h1>
{% block title %}
  Research
{% endblock %}
</h1>

<table class="table table-striped mb-2">
  <thead>
    <tr>
      <th>Title</th>
      <th>Type</th>
      <th>Start date</th>
    </tr>
  </thead>
  <tbody>
  {% for each in research %}
    <tr>
      <td><a href="{% url "controlpanel_research" each.id %}">{{ each }}</a></td>
      <td class="whitespace-nowrap">{{ each.get_project_type_display }}</td>
      <td class="whitespace-nowrap">{{ each.start_date|date:"M d, Y"|default:"" }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<a class="btn-add" href="{% url "controlpanel_research" %}"><i class="fa fa-plus mr-1"></i>Add record</a>

{% endblock %}
