{% extends "main/_base.html" %}

{% block content %}

<h1>
{% block title %}
  Research
{% endblock %}
</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Type</th>
      <th>Created</th>
    </tr>
  </thead>
  <tbody>
  {% for each in research %}
    <tr>
      <td><a href="{% url "controlpanel_research" each.id %}">{{ each }}</a></td>
      <td class="whitespace-nowrap">{{ each.get_project_type_display }}</td>
      <td class="whitespace-nowrap">{{ each.date_created|date:"M d, Y" }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}
