{% extends "_base.html" %}

{% block content %}

  <h1 class="mb-0">{% block title %}Library{% endblock %}</h1>
  <a href="../" class="btn btn-primary-basic mb-4">
    <i class="fal fa-angle-left"></i>
    Back to control panel
  </a>

  {% if items %}

    <table class="table table-striped datatable">
      <thead>
        <tr>
          <th>Title</th>
          <th>Author</th>
          <th>Reference Space</th>
          <th>Project</th>
        </tr>
      </thead>
      <tbody>
      {% for each in items %}
        <tr>
          <td><a href="/library/{{ each.id }}/">{{ each.name }}</a></td>
          <td>{{ each.author }}</td>
          <td>
            {% for space in each.spaces.all %}
              <li>{{ space }}</li>
            {% endfor %}
          </td>
          <td>{{ each.part_of_project }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

  {% else %}
    <div class="alert alert-warning">
      <p>
        <i class="fa fa-search"></i>
        Use the insta-search below to search through the library by title.
      </p>
      <p>
        <select id="existing" class="select2 custom-select">
        </select>
      </p>
    </div>

    <h3 class="mt-4">Types</h3>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Items</th>
        </tr>
      </thead>
      <tbody>
      {% for each in types %}
        <tr>
          <td><a href="?type={{ each.id }}">{{ each.name }}</a></td>
          <td>{{ each.total }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% endif %}

  <a class="btn btn-default-outline" href="/upload/"><i class="fal fa-plus"></i> Add new library item</a>

  <div>
    <a href="../" class="btn btn-primary-basic mt-4">
      <i class="fal fa-angle-left"></i>
      Back to control panel
    </a>
  </div>

{% endblock %}

{% block footer %}
<script>

    $("#existing").select2({
      theme: "bootstrap4",
      ajax: {
        url: "{% url "library:search_ajax" %}",
        dataType: "json"
        // Additional AJAX parameters go here; see the end of this chapter for the full code of this example
      }
    });

    $("#existing").on("select2:select", function (e) {
        var data = e.params.data;
        window.location = "https://library.metabolismofcities.org/items/"+ data.id;
    });

</script>
{% endblock %}
