{% load static %}
<!doctype html>
<html lang="en" class="h-full" style="background:#f0f0f0">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    {% block title %}{% endblock %} - 
    Metabolism of Islands
  </title>
  <link href="{% static "css/styles.css" %}?id=1111-0108" rel="stylesheet">
  <link class="favicon" rel="shortcut icon" sizes="126x126" href="/media/favicon.jpg">

  {% if load_og_tags %}
    <meta property="og:title" content="Metabolism of Islands" />
    <meta property="og:description" content="MOI info" />
    <meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}/media/favicon.jpg" />
    <meta property="og:image:alt" content="Metabolism of Islands logo" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ request.scheme }}://{{ request.get_host }}{{ request.path }}" />
    <meta property="og:site_name" content="Metabolism of Islands" />
  {% endif %}

  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-VhBcF/php0Z/P5ZxlxaEx1GwqTQVIBu4G4giRWxTKOCjTxsPFETUDdVL5B6vYvOt" crossorigin="anonymous">

  {% block css %}{% endblock %}
</head>

<body class="h-full">
  <div class="min-h-full">

    {% if request.user.is_authenticated and request.user.is_staff %}
      <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="flex justify-between">
          <div>
            <a class="mr-3 inline-block p-2 {% if controlpanel %}bg-white{% endif %}" href="{% url "controlpanel" %}"><strong><i class="fal fa-cog fa-fw mr-1"></i> Control panel</strong></a> 
            <a href="{% url "controlpanel" %}"><i class="fal fa-pencil fa-fw mr-1"></i> Edit content</a> 
          </div>
          <a href="{% url "logout" %}" class="inline-block p-2">Log out</a>
        </div>
      </div>
    {% endif %}

    {% include "main/_nav.html" %}

    <div class="bg" style="background-image:url({% if bg_image %}{{ bg_image }}{% else %}/media/bg2.jpg{% endif %})">
      <div class="overlay {% if bg_image %}pb-100{% else %}pb-64{% endif %}">
        <header class="py-10">
          <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
            {% if bg_image %}
              <a href="{{ info.region.get_absolute_url }}" class="inline-flex items-center text-xs font-semibold uppercase tracking-wider text-slate-400 hover:text-brand !no-underline transition-colors" style="position:absolute;top:18px">
                <i class="fa fa-arrow-left mr-2"></i> {{ info.region }} overview
              </a>
              <h1 class="text-3xl font-bold tracking-tight text-white text-shadow-md text-shadow-stone-700" style="position:relative;top:390px">
                {{ info }}
              </h1>
            {% endif %}
          </div>
        </header>
      </div>
    </div>

    <main class="{% if bg_image %}-mt-10{% else %}-mt-64{% endif %}">
      <div class="mx-auto max-w-7xl px-4 pb-12 sm:px-6 lg:px-8">
        <div class="rounded-lg bg-white {% if not remove_padding_main_container %}px-5 py-10 sm:px-6{% endif %} shadow-sm relative">
          <div class="ml-10 mr-10">

            {% if messages %}
              <div class="top-message-box mt-5 mb-10">
                {% for message in messages %}
                  <div class="mt-5 alert {{ message.tags }}" role="alert">
                    {{ message|safe }}
                  </div>
                {% endfor %}
              </div>
            {% endif %}

            {% block content %}
            {% endblock %}

          </div>
        </div>
      </div>
    </main>

  </div>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

{% block js %}

{% endblock %}

</body>

</html>
